/*Header*/
header {
    display: flex;
    align-items: center;
    justify-content:center;
    margin: 0px;
    gap: 20px;
}

header img{
    width: 150px;
    height: auto;
}


header ul{
    display: flex;
    gap: 40px;
    list-style: none;
}

header ul li {
    text-decoration: none;
    
}

header ul li img{
    width: 22px;
    height: 22px;
    object-fit: contain;
    filter: grayscale(100%) brightness(0);
    cursor: pointer;
    transition: 0.2s;
}

