main {
    display: flex;
    align-items: center;
    justify-content: space-around;
    }

.titulo_principal h1 {
    font-size: 3rem;
}

.titulo_principal p{
    font-size: 2.5rem;
}

.titulo_principal a{
    display: inline-block;
    font-size: 1rem;
    text-decoration: none;
    color: white;
    border: 2px solid white;
    background-color: rgba(237, 20, 20, 0.716);
    padding: 15px;
    font: 800;
    transition: transform 0.7s ease;
}

.titulo_principal a:hover{
    transform: scale(1.1);
}