* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Header*/
header {
    display: flex;
    align-items: center;
    justify-content:center;
    margin: 0px;
    gap: 20px;
    background-image: url(/assets/imagenes/fondo_bienvenida.jpg);
}

header img{
    width: 150px;
    height: auto;
}


header ul{
    display: flex;
    gap: 40px;
    list-style: none;
}

header ul li {
    text-decoration: none;
    
}

header ul li img{
    width: 22px;
    height: 22px;
    object-fit: contain;
    filter: grayscale(100%) brightness(0);
    cursor: pointer;
    transition: 0.2s;
}

header ul li img:hover{
transform: scale(1.2);
}

/* MAIN */
main {
    display: flex;
    align-items: center;
    justify-content: space-around;
    }

.titulo_principal h1 {
    font-size: 3rem;
}

.titulo_principal p{
    font-size: 2.5rem;
}

.titulo_principal a{
    display: inline-block;
    font-size: 1rem;
    text-decoration: none;
    color: white;
    border: 2px solid white;
    background-color: rgba(237, 20, 20, 0.716);
    padding: 15px;
    font: 800;
    transition: transform 0.7s ease;
}

.titulo_principal a:hover{
    transform: scale(1.1);
}

/*Seccion Bienvenida*/
.bienvenida{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 20px;

}

.bienvenida img{
    width: 500px;
    height: auto;
    padding: 10px;
    margin: 10px;
}

.bienvenida_texto{
    width: 400px;
}

.bienvenida_texto h2{
    font-size: 50px;
}

.bienvenida_texto p{
    font-size: 1rem;
}

/*Contacto Portada*/

.contacto_portada{
    display: flex;
    position: relative;
    align-items: center;
    }


.contacto_portada h3{
    position: absolute;
    color: #fcfcfa;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.5rem;
    width: 100%;
    text-align: center;
    text-shadow: 0 0 10px black;
}

.contacto_portada img{
  width: 100%;
  height: 400px;
  object-fit: cover;
}

/*Lista Productos*/

.lista-productos{
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    }

.lista-productos h4{
    font-size: 30px;
    grid-column: 1/3;
    text-align: center;
}

.productos1{
    display: grid;
    grid-template-rows: auto 1fr auto auto;
    text-align: center;
    justify-items: center;
    gap: 10px;
}

.productos1 img{
    display: block;
    width: 100%;
    max-width: 400px;
    height: 350px;
    object-fit: contain;
}

.productos1 button{
    padding: 10px;
    margin: 10px;
    width: 100px;
    height: auto;
    transition: transform 0.5s ease-in-out;
}

.productos1 button:hover{
    transform: scale(1.1);
    background-color: rgba(237, 20, 20, 0.716);
    color: white;
    border: white;
}

/*footer*/

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image:url(/assets/imagenes/fondo_footer.jpg);
    margin:0;
    width: 100%;
}

.footer h6{
    font-size: 1.5rem;
}

.tarjeta_footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 20px;
    border: 2px solid rgb(241, 241, 241);
    width: 200px;
    height: 250px;
    background-color: rgba(180, 178, 178, 0.655);
    color: white;
}
